 ErrorDocument 503 /maintenance
 <IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteCond %{REQUEST_URI} !=/maintenance
 RewriteCond %{REMOTE_ADDR} !=127.0.0.1
 RewriteRule ^.*$ - [R=503,L]
 </IfModule>





ErrorDocument 404 /404.html
